@model IEnumerable<PopUpModel_JQueryAjax.Models.UserModel>

<h1 class="text-center"> Users Table</h1>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","User",null,Context.Request.Scheme)','New User')" class="btn btn-success text-white"><i class="fa fa-user"></i> New User</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Department)
                </td>
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","User",new {id=user.Id},Context.Request.Scheme)','Update User')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@user.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>